// $ MODNAME
// $ Authors: USERNAME
// $ Created on: DATENOW
// - Test: This is a sample command description that will be parsed
// and shown to users when they request help. Make sure to document
// every command your module provides.

var Base = require('../src/base_module');

var MODNAME = function(bot) {
    Base.call(this, bot);
    // this.respond(/hi!$/i, function(response) {
    //     response.reply('Hello!');
    // });
};

Base.setup(MODNAME, 'MODNAME');
module.exports = MODNAME;
